<%= render :partial => "extra_assets" %>
<div class="hero-unit-login-wrap chahgePassword edit-profile">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :id => "registration_form"}) do |f| %>
  <div class="hero-unit-login-down hero-unit">
    <%= f.error_messages :message => "Oops! something went wrong." %>
    <%= hidden_field_tag :change_password, true %>
    <% if user_signed_in? %>
	<div>
      <label for="user_current_password">Current Password*</label>
      <%= f.password_field :current_password, :class => "login-text-field" %>
    </div>
	<div><br/></div>
    <div>
      <label for="user_password">Password*</label>
      <%= f.password_field :password, :class => "login-text-field" %>
    </div>
    <div>
      <label for="user_password_confirmation">Password Confirmation*</label>
      <%= f.password_field :password_confirmation, :class => "login-text-field" %>
    </div>
    <% end %>
    <%= render :partial => "shared/slide_to_unlock/content" %>
  </div>
  <div class="sign-up-section"><%= f.submit "Update", :class => "btn sign-up-button" %></div>
</div>
<% end %>
