<div class="tab-pane <%= current_account_tab_content(["update_password"]) %>" id="password">
	<%= form_for(@user, :url => account_update_password_path, html:{ class:'form-login'}) do |f| %>
	<%= f.error_messages if @change_password.present? %>
	<fieldset>
		<%= f.password_field :current_password, class: "input-xlarge pull-left", placeholder: 'Current Password'  %>
		<%= f.password_field :password, autocomplete: "off", class: "input-xlarge pull-left", placeholder: 'New Password' %>
		<%= f.password_field :password_confirmation, class: "input-xlarge pull-left", placeholder: 'Confirm New Password' %>
	</fieldset>
	<div class="submit-button">
		<button type="submit" class="btn btn-large btn-primary  pull-right">Save Changes</button>
		<%= link_to "Cancel", account_basics_path, class: "btn-link  pull-right" %>
	</div>
	<%end %>
</div>