<div class="container">
  <%= render :partial => "account/links" %>
  <%= render :partial => "account/credentials_links" %>
  <div id="form-space">
    <%= form_for(@user, :url => account_update_password_path) do |f| %>
      <%= f.error_messages %>

    <div><%= f.label :current_password %><br />
      <%= f.password_field :current_password %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password, :autocomplete => "off" %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

    <div><%= f.submit "Save Changes" %></div>
  <% end %>
  </div>
</div>

